---
import { Icon } from 'astro-icon/components'

import contact from '../../data/contact.ts'

interface ContactInfo {
  name: string
  icon: string
  link: string
}
---

<section id="contact">
  <h2>Let's connect!</h2>
  <div id="connect-container">
    <div id="links">
      {
        contact.map((item: ContactInfo) => (
          <a href={item.link} target="_blank" rel="noopener noreferrer">
            <Icon class="icon" name={item.icon} />
            <h3>{item.name}</h3>
          </a>
        ))
      }
    </div>
    <img
      id="img-otrocadev"
      src="images/ot-roca-no-bg.avif"
      alt="Picture of Ot Roca, also known as otrocadev"
    />
  </div>
</section>

<style>
  #contact {
    padding-bottom: 8rem;
  }
  h3 {
    margin: 1rem 0;
    color: var(--antiflash-white);
  }

  h3:hover,
  h3:active {
    text-decoration: underline;
  }
  p {
    color: var(--screaming-green);
    font-weight: 700;
    font-size: 18px;
  }

  #connect-container {
    display: flex;
    flex-direction: column-reverse;
    max-width: 80%;
    margin: 0;
    padding: 1rem;
    @media (min-width: 720px) {
      flex-direction: row;
    }
  }

  a {
    color: white;
    display: flex;
    align-items: center;
    gap: 1rem;
  }

  img {
    mask-image: linear-gradient(black 80%, transparent);
    width: auto;
  }

  .icon {
    font-size: 28px;
  }
</style>
