---
import { Icon } from "astro-icon/components"

import contact from "../../data/contact.ts"

interface ContactInfo {
  name: string
  icon: string
  link: string
}
---

<section id="contact">
  <h2>About me</h2>
  <div id="contact-container">
    <div id="connect-container">
      <div id="links">
        {
          contact.map((item: ContactInfo) => (
            <a href={item.link} target="_blank" rel="noopener noreferrer">
              <Icon class="icon" name={item.icon} />
              <h3>{item.name}</h3>
            </a>
          ))
        }
      </div>
      <img
        id="img-otrocadev"
        src="images/ot-roca-no-bg.avif"
        alt="Picture of Ot Roca, also known as otrocadev"
      />
    </div>
    <p>
      👋 Hi, <strong>I’m Ot Roca</strong> — a <strong>Frontend Developer</strong
      > focused on building modern, scalable, and user-centered web applications.
    </p>
    <p>
      🧑🏻‍💻 I’m currently studying <strong>Software Development (UOC)</strong> and have
      just completed a Frontend bootcamp with Angular, working on <strong
        >real-world projects</strong
      > and best practices.
    </p>
    <p>
      🚀 I work mainly with <strong>Angular</strong>, <strong>JavaScript</strong
      >, <strong>SCSS</strong> or <strong>Tailwind CSS</strong>, with some
      backend exposure that helps me understand the full development process.
    </p>
    <p>
      🎯 I’m seeking a <strong>Junior Frontend Developer</strong> role where I can
      grow, contribute, and deliver value from day one.
    </p>
  </div>
</section>

<style>
  #contact {
    padding-bottom: 8rem;
    max-width: var(--max-section-width);
  }

  #contact-container {
    max-width: 60%;
  }
  h3 {
    margin: 1rem 0;
    color: var(--antiflash-white);
  }

  h3:hover,
  h3:active {
    text-decoration: underline;
  }
  p {
    color: var(--antiflash-white);
    font-weight: 400;
    text-align: center;
    font-size: var(--font-size-lg);

    @media (max-width: 768px) {
      display: none;
    }
  }

  strong {
    font-weight: 900;
  }

  #connect-container {
    display: flex;
    justify-content: center;
    margin-bottom: 4rem;
    width: 100%;

    @media (max-width: 768px) {
      flex-direction: column;
    }
  }

  a {
    color: white;
    display: flex;
    align-items: center;
    gap: 1rem;
  }

  img {
    mask-image: linear-gradient(black 80%, transparent);
    width: auto;

    @media (max-width: 768px) {
      max-width: 300px;
    }
  }

  .icon {
    font-size: 28px;
  }
</style>
