---

---

<section id="hero">
  <div id="presentation">
    <span>Hello, my name is</span>
    <h1>Ot Roca</h1>
    <span>I am a</span>
    <h2>Frontend developer</h2>
    <span
      >Passionate about web development, always learning and building 🚀</span
    >
    <a class="primary-btn" target="_blank" href="/CV_OtRoca2025(en).pdf"
      >Download resume</a
    >
  </div>
  <img
    src="images/software-engineer.avif"
    alt="A drawing with some common software engineer tools used by Ot Roca, there can be seen a screen with code with a mouse and a keyboard, with a cofee cup"
  />
</section>

<style>
  h1 {
    font-family: 'Anonymous Pro', serif;
    font-weight: 700;
    font-style: normal;
    font-size: clamp(48px, 8vw, 144px);
    margin: 0.6rem 0;
    color: var(--slate-gray);
  }

  h2 {
    font-family: 'Anonymous Pro', serif;
    font-weight: 700;
    font-style: italic;
    font-size: clamp(28px, 6vw, 96px);
    margin: 0.6rem 0;
    text-align: start;
    color: var(--screaming-green);
  }

  span {
    font-size: clamp(20px, 2vw, 22px);
    color: var(--slate-gray);
  }

  a {
    margin-top: 1.5rem;
  }

  #hero {
    margin: 2rem;
    width: 100%;
    display: flex;
    flex-direction: column-reverse;
    min-height: 95dvh;
    @media (min-width: 720px) {
      margin: 0;
      width: 100%;
      display: grid;
      grid-template-columns: 1fr 1fr;
    }

    img {
      align-self: center;
      margin: 0 auto;
      max-width: 100%;
      @media (min-width: 480px) {
        width: 100%;
        max-width: 600px;
      }
    }
  }

  #presentation {
    display: flex;
    flex-direction: column;
    padding: 2rem;
    justify-self: end;
    @media (min-width: 720px) {
      margin-left: clamp(1rem, 8vw, 20rem);
    }
  }
</style>
