---

---

<section id="hero">
  <div id="presentation">
    <span>Hello, my name is</span>
    <h1>Ot Roca</h1>
    <span>I am a</span>
    <h2>Frontend developer</h2>
    <p>Passionate about web development, always learning and building 🚀</p>
    <a class="primary-btn" target="_blank" href="/CV_OtRoca2025(en).pdf"
      >Download resume</a
    >
  </div>
  <img
    src="/src/assets/images/software-engineer.avif"
    alt="A drawing with some common software engineer tools, there can be seen a screen with code with a mouse and a keyboard, with a cofee cup"
  />
</section>

<style>
  h1 {
    font-family: 'Anonymous Pro', serif;
    font-weight: 700;
    font-style: normal;
    font-size: 48px;
    margin: 0.6rem 0;
    color: var(--slate-gray);
    @media (min-width: 480px) {
      font-size: 72px;
    }
  }

  h2 {
    font-family: 'Anonymous Pro', serif;
    font-weight: 700;
    font-style: italic;
    font-size: 36px;
    margin: 0.6rem 0;
    text-align: start;
    color: var(--screaming-green);
    @media (min-width: 480px) {
      font-size: 48px;
    }
  }

  #hero {
    margin: 0 5rem;
    display: flex;
    flex-direction: column-reverse;
    min-height: 95dvh;
    @media (min-width: 480px) {
      margin: 0;
      display: grid;
      grid-template-columns: 1fr 1fr;
    }

    img {
      align-self: center;
      margin: 0 auto;
      max-width: 100%;
      @media (min-width: 480px) {
        max-width: 400px;
        width: 100%;
      }
    }
  }

  #presentation {
    display: flex;
    flex-direction: column;
    margin: 0;
    max-width: 400px;
  }

  img {
    mask-image: linear-gradient(black 80%, transparent);
    position: relative;
    width: 100%;
    @media (min-width: 480px) {
      width: auto;
    }
  }
</style>
