---
import ProjectCard from './projects/ProjectCard.astro'
---

<section id="projects">
  <h2>Recent Projects</h2>
  <ProjectCard
    title="Tesla Landing Clone Page"
    githubLink="https://github.com/otrocadev/tesla-landing-clone"
    liveLink="https://tesla-landing.otroca.dev/"
    imageUrl="/tesla-landing.avif"
    techs={['astro', 'tailwind', 'vue']}
    right
  >
    A clone that replicates the frontend of the Tesla.es website in orther to
    put in practice my Astro and Tailwind knowledge
  </ProjectCard>
  <ProjectCard
    title="International Converter"
    githubLink="https://github.com/otrocadev/international-converter"
    liveLink="https://www.internationalconverter.com/"
    imageUrl="/international-converter.avif"
    techs={['react', 'tailwind']}
  >
    International converter aims to be an ALL-IN-ONE platform to convert things
    in a page that is very friendly and beautiful for the user.
  </ProjectCard>
</section>

<style>
  h2 {
    color: var(--screaming-green);
    font-family: 'Anonymous Pro', serif;
    font-weight: 700;
    font-style: normal;
    font-size: 40px;
    margin: 4rem 0 1rem 0;
  }

  #projects {
    margin: 4rem 1rem 0rem 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 4rem;
  }
</style>
