---

---

<header>
  <div id="header-wrapper">
    <div id="logo-wrapper">
      <img id="logo" src="/otrocadev-logo.svg" alt="Otrocadev's logo" />
      <h2>otroca.dev</h2>
    </div>
    <div>
      <a href="http://" target="_blank" rel="noopener noreferrer">hola</a>
    </div>
  </div>
</header>

<style>
  h2 {
    font-family: 'Anonymous Pro', serif;
    font-weight: 700;
    font-style: normal;
    font-size: 32px;
    margin: 0 1rem;
  }

  header {
    width: 100%;
    height: 80px;
    position: fixed;
    display: flex;
    color: var(--screaming-green);
    backdrop-filter: blur(8px);
    box-sizing: border-box;
    z-index: 2;
  }

  #header-wrapper {
    margin: auto;
    height: 100%;
    width: 100%;
    max-width: 1024px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 1rem;
  }

  #logo-wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }

  #logo {
    height: 36px;
  }
</style>
