---
import Presentation from './Presentation.astro'
import ProjectCard from './ProjectCard.astro'
---

<main>
  <Presentation />
  <section id="projects">
    <h2>Recent Projects</h2>
    <ProjectCard
      title="Tesla Landing Page"
      githubLink="https://github.com/otrocadev/tesla-landing-clone"
      liveLink="https://tesla-landing.otroca.dev/"
      imageUrl="/tesla-landing.avif"
      right
    >
      Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ipsum possimus
      velit odio, quis quisquam eos deserunt optio perferendis facere minus
      maiores iure laudantium sunt eligendi sed quia? Provident, quis
      praesentium.
    </ProjectCard>
    <ProjectCard
      title="Patata"
      githubLink="https://github.com/otrocadev/tesla-landing-clone"
      liveLink="https://tesla-landing.otroca.dev/"
      imageUrl="/tesla-landing.avif"
    >
      Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ipsum possimus
      velit odio, quis quisquam eos deserunt optio perferendis facere minus
      maiores iure laudantium sunt eligendi sed quia? Provident, quis
      praesentium.
    </ProjectCard>
  </section>

  <style>
    main {
      font-family: 'Gudea', Inter, Roboto, 'Helvetica Neue', 'Arial Nova',
        'Nimbus Sans', Arial, sans-serif;
      font-size: 20px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      padding: 1rem;
      padding-top: 100px;
      margin: auto;
      @media (min-width: 480px) {
        max-width: 1024px;
      }
    }

    h2 {
      color: var(--screaming-green);
      font-family: 'Anonymous Pro', serif;
      font-weight: 700;
      font-style: normal;
      font-size: 40px;
      margin: 4rem 0 1rem 0;
    }

    #projects {
      margin: 4rem 1rem 0rem 1rem;
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 4rem;
    }
  </style>
</main>
