---
const { metaDescription, thumbnail = '/porfolio-screenshot.jpeg' } = Astro.props
import Analytics from '@vercel/analytics/astro'
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/otrocadev-logo.svg" />
    <!-- HTML Meta Tags -->
    <title>otrocadev - Ot Roca's porfolio</title>
    <meta
      name="description"
      content="Hi, I am Ot Roca also known as otrocadev. I am a junior angular developer and I am passionate about web development, always learning and building new things 🚀. Sometimes I also do some back stuff, so I could consider myself as a Full Stack? Maybe."
    />
    <!-- Facebook Meta Tags -->
    <meta property="og:url" content="https://otroca.dev" />
    <meta property="og:type" content="website" />
    <meta
      property="og:title"
      content="Ot Roca | Software Engineer / Web Developer (otrocadev)"
    />
    <meta
      property="og:description"
      content="Hi, I am Ot Roca also known as otrocadev, passionate about web development, always learning and building 🚀. I am a junior angular developer, mainly Front-end. Sometimes I also do some back stuff, so I could consider myself as a Full Stack? Maybe."
    />
    <meta
      property="og:image"
      content="https://otroca.dev/porfolio-screenshot.jpeg"
    />
    <!-- Twitter Meta Tags -->
    <meta name="twitter:card" content="summary_large_image" />
    <meta property="twitter:domain" content="otroca.dev" />
    <meta property="twitter:url" content="https://otroca.dev" />
    <meta
      name="twitter:title"
      content="Ot Roca | Software Engineer / Web Developer (otrocadev)"
    />
    <meta
      name="twitter:description"
      content="Hi, I am Ot Roca also known as otrocadev, passionate about web development, always learning and building 🚀. I am a junior angular developer, mainly Front-end. Sometimes I also do some back stuff, so I could consider myself as a Full Stack? Maybe."
    />
    <meta
      name="twitter:image"
      content="https://otroca.dev/porfolio-screenshot.jpeg"
    />
    <link
      rel="preload"
      href="/fonts/Raleway-VariableFont_wght.ttf"
      as="font"
      type="font/ttf"
      crossorigin
    />
    <link
      rel="preload"
      href="/fonts/Inconsolata.ttf"
      as="font"
      type="font/ttf"
      crossorigin
    />
  </head>
  <body>
    <div id="bg">
      <slot />
      <Analytics />
    </div>
    <style>
      @font-face {
        font-family: 'Raleway';
        src: url('/fonts/Raleway-VariableFont_wght.ttf') format('truetype');
        font-style: normal;
        font-display: swap;
      }

      @font-face {
        font-family: 'Inconsolata';
        src: url('/fonts/Inconsolata.ttf') format('truetype');
        font-weight: 400;
        font-style: normal;
        font-display: swap;
      }

      :root {
        --richblack: #000e22;
        --navy: #001533;
        --seablue: #2e4a66;
        --slate-gray: #b4b9c0;
        --anti-flash-white: #efefef;
        --screaming-green: #4cd625;
        --background-lines: #2e4a6620;

        --font-size-h1: clamp(48px, 6vw, 240px);
        --font-size-h2: clamp(28px, 2.5vw, 144px);
        --font-size-h3: clamp(24px, 1.8vw, 48px);
        --font-size-md: clamp(16px, 0.8vw, 28px);
        --font-size-ms: clamp(16px, 0.8vw, 28px);
        --font-size-xs: clamp(12px, 0.4vw, 16px);

        --button-padding: clamp(0.6rem, 0.75vw, 1.7rem)
          clamp(1.2rem, 1.5vw, 3rem);
        --tag-padding: clamp(0.4rem, 0.5vw, 0.8rem) clamp(0.8rem, 1vw, 1.6rem);
        --tag-border-radius: clamp(2rem, 2vw, 4rem);

        --max-screen-width: 3840px;
      }

      html,
      body {
        font-family:
          'Inconsolata', Inter, Roboto, 'Helvetica Neue', 'Arial Nova',
          'Nimbus Sans', Arial, sans-serif;
        margin: 0;
        width: 100%;
        height: 100%;
        color: var(--anti-flash-white);
        scroll-behavior: smooth;
        scroll-padding: 2rem;
        position: absolute;
        inset: 0;
        height: 100%;
        width: 100%;
        background-color: var(--navy);
        background-image:
          linear-gradient(
            to right,
            var(--background-lines) 1px,
            transparent 1px
          ),
          linear-gradient(
            to bottom,
            var(--background-lines) 1px,
            transparent 1px
          );
        background-size: 64px 64px;
      }
    </style>
  </body>
</html>
