---
const { metaDescription, thumbnail = '/porfolio-screenshot.avif' } = Astro.props
import Analytics from '@vercel/analytics/astro'
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/otrocadev-logo.svg" />
    <!-- HTML Meta Tags -->
    <title>otrocadev - Ot Roca's porfolio</title>
    <meta
      name="description"
      content="Hi, I am Ot Roca also known as otrocadev, passionate about web development, always learning and building 🚀. I am a junior web developer, mainly Front-end. Sometimes I also do some back stuff, so I could consider myself as a Full Stack? Maybe."
    />
    <!-- Facebook Meta Tags -->
    <meta property="og:url" content="https://otroca.dev" />
    <meta property="og:type" content="website" />
    <meta property="og:title" content="otrocadev - Porfolio by Ot Roca" />
    <meta
      property="og:description"
      content="Hi, I am Ot Roca also known as otrocadev, passionate about web development, always learning and building 🚀. I am a junior web developer, mainly Front-end. Sometimes I also do some back stuff, so I could consider myself as a Full Stack? Maybe."
    />
    <meta
      property="og:image"
      content="https://otroca.dev/porfolio-screenshot.avif"
    />
    <!-- Twitter Meta Tags -->
    <meta name="twitter:card" content="summary_large_image" />
    <meta property="twitter:domain" content="otroca.dev" />
    <meta property="twitter:url" content="https://otroca.dev" />
    <meta name="twitter:title" content="otrocadev - Ot Roca's porfolio" />
    <meta
      name="twitter:description"
      content="Hi, I am Ot Roca, passionate about web development, always learning and building 🚀. I am a junior web developer, mainly Front-end. Sometimes I also do some back stuff, so I could consider myself as a Full Stack? Maybe."
    />
    <meta
      name="twitter:image"
      content="https://otroca.dev/porfolio-screenshot.avif"
    />
  </head>
  <body>
    <div id="bg">
      <slot />
      <Analytics />
    </div>
    <style>
      @import url('https://fonts.googleapis.com/css2?family=Anonymous+Pro:ital,wght@0,700;1,700&display=swap');
      @import url('https://fonts.googleapis.com/css2?family=Gudea:ital,wght@0,400;0,700;1,400&display=swap');

      :root {
        --richblack: #000e22;
        --navy: #001533;
        --seablue: #2e4a66;
        --slate-gray: #b4b9c0;
        --anti-flash-white: #efefef;
        --screaming-green: #4cd625;
        --background-lines: #2e4a6620;
      }

      html,
      body {
        font-family: 'Gudea', Inter, Roboto, 'Helvetica Neue', 'Arial Nova',
          'Nimbus Sans', Arial, sans-serif;
        margin: 0;
        width: 100%;
        height: 100%;
        color: var(--anti-flash-white);
        scroll-behavior: smooth;
        scroll-padding: 2rem;
        position: absolute;
        inset: 0;
        height: 100%;
        width: 100%;
        background-color: var(--navy);
        background-image: linear-gradient(
            to right,
            var(--background-lines) 1px,
            transparent 1px
          ),
          linear-gradient(
            to bottom,
            var(--background-lines) 1px,
            transparent 1px
          );
        background-size: 64px 64px;
      }
    </style>
  </body>
</html>
