---
const { techs = [] } = Astro.props

import { Icon } from 'astro-icon/components'
---

<div class="techs-wrapper">
  {
    techs.map((tech: String) => (
      <div class="tech-icon">
        <Icon class="icon" name={tech} />
        <p>{tech}</p>
      </div>
    ))
  }
</div>

<style>
  .techs-wrapper {
    display: inline-flex;
    flex-wrap: wrap;
    gap: 0.6rem;
  }

  .tech-icon {
    font-family: 'Raleway', serif;
    font-weight: 600;
    font-size: 0.6rem;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.4rem;
    padding: 0.2rem 0.6rem;
    background: var(--seablue);
    border-radius: 0.8rem;
  }

  .icon {
    font-size: 0.6rem;
  }

  p {
    margin: 0;
    font-size: 0.6rem;
  }
</style>
